*{
    margin: 0;
    padding: 0;
}

h1{
    color: rgb(122, 204, 137);
    font-family: cursive;
}

body{
    text-align: center;
    background-image: url(https://tse1.mm.bing.net/th?id=OIP.zyb8yMkoDmOJ8UtVsxNyzQHaEK&pid=Api&P=0&h=180);
    background-size: cover;
}

.container{
    display: flex;
}

.game{
    display: flex;
    height: 60vmin;
    width: 60vmin; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    margin-left: 32rem; 
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgb(73, 67, 67);
    font-size: 8vmin;
    color: #d06164;
    background: transparent;
}

#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: white;
    border-radius: 1rem;
    border: none;
}

#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: white;
    border-radius: 1rem;
    border: none;
}

#msg{
    color: aliceblue;
    font-size: 8vmin;
}

.msg-container{
    height: 20vmin;
}

.hide{
    display: none;
}
